html {
  background-color: black;
  font-family: Verdana;
  }

#copyright {
  color: Gray;
  text-align: right;
  font-family: Verdana;
  }

#waterfall {
  color: white;
  font-family: Verdana;
  text-align: center;
}

#travelguide {
  color: white;
  font-family: Verdana;
  text-align: center;
  font-weight: 300;
  font-size: 42px;
  }

#images {
  align-items: center;
}


#remind {
  color: Gray;
  font-family: Verdana;
  font-size: 21px;
}
