html {
  background-color: black;
  font-family: Verdana;
  text-align: center;
  }

#copyright {
  color: Gray;
  text-align: right;
  font-family: Verdana;
  }

#waterfall {
  color: white;
  font-family: Verdana;
  text-align: center;
  text-size: 50px;
}

.link {
  color: Aquamarine;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
}

#travelguide {
  color: white;
  font-family: Verdana;
  text-align: center;
  font-weight: 300;
  font-size: 42px;
  }

#images {
  background-position: center;
}

#soon {
  font-size: 42px;
  color: white;
  text-align: center;

  }

#remind {
  color: Gray;
  font-family: Verdana;
  font-size: 21px;
  text-align: center;
}
